.styledLink {
    border-radius: 3px;
    box-shadow: 0 0 1px hsl(0deg 0% 80% / 0.045), 0 0 2px hsl(0deg 0% 80% / 0.045), 0 0 4px hsl(0deg 0% 80% / 0.045), 0 0 8px hsl(0deg 0% 80% / 0.045), 0 0 16px hsl(0deg 0% 80% / 0.045);
    display: grid;
    align-items: flex-end;
    margin: 0.5rem 0;
    color: inherit;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    max-height: 375px;
}

.styledLink img {
    transition: transform 200ms ease-in !important;
    object-position: top !important;
}

.styledLink:hover img,
.styledLink:active img,
.styledLink:focus img {
    transform: scale(1.03);
    outline: none;
}

.styledLink:hover h3,
.styledLink:active h3,
.styledLink:focus h3 {
    text-decoration-color: unset;
}

.headingContainer {
    grid-area: 1/1;
    padding: 1rem;
    transform: skewX(-10deg);
    border-radius: 2px;
    background-color: var(--black);
    color: var(--clayton-orange);
    z-index: 10;
    margin: 0 auto 1rem auto;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.headingContainer>* {
    transform: skewX(10deg);
}

.cardHeading {
    margin: 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 100ms ease-in;
}

.cardImage {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}