.container {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: var(--light-grey);
}

.pageWrapper {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #212020eb;
    color: var(--light-grey);
}

.contentWrapper {
    width: 100%;
}

.footer {
    margin-block: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.plug {
    font-size: 0.8rem;
    color: var(--dark-grey)
}

@media (max-width: 1200px) {
    .contentWrapper {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}