.wrapper {
    max-width: var(--max-content-width);
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 8%), 0 0 2px hsl(0deg 0% 0% / 8%), 0 0 4px hsl(0deg 0% 0% / 8%), 0 0 8px hsl(0deg 0% 0% / 8%), 0 0 16px hsl(0deg 0% 0% / 8%);
    margin: 0.2rem 0;
    padding: 0.5rem;
    border-radius: 6px;
}

.wrapper:hover h3,
.wrapper:focus h3,
.wrapper:hover h4,
.wrapper:focus h4,
.wrapper:hover .excerptContinueReading,
.wrapper:focus .excerptContinueReading {
    outline: none;
    text-decoration-color: unset;
}

.link {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: min-content;
    grid-row-gap: 1em;
    color: unset;
    text-decoration: unset;
}

.link p {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    align-self: flex-end;
}

.infoArea {
    grid-column: 1;
    grid-row: 1;
    background-image: none;
    text-decoration: none;
}

.infoArea h3,
.infoArea h4 {
    text-decoration: underline;
    text-decoration-color: transparent;
    margin: 0;
    transition: text-decoration-color 100ms ease-in;
}

.excerptContinueReading {
    color: var(--dark-grey);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 100ms ease-in;
}

.infoArea h3 {
    margin-bottom: 0.4rem;
    color: var(--clayton-orange);
}

.infoArea h4 {
    color: var(--dark-grey);
}

.postPreviewImage {
    grid-column: 2;
    grid-row: 1 / span 2;
    max-height: 200px;
    border-radius: 0 6px 6px 0;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.25) 80%, rgba(0, 0, 0, 0));
    margin: -0.5rem;
}

@media (max-width: 500px) {
    .link p {
        grid-column: 1 / span 3;
    }
    .postPreviewImage {
        grid-row: 1 / span 2;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        border-radius: 0;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .link {
        grid-template-columns: 3fr 20px 40px 1fr;
        row-gap: 0.5em;
    }
    .infoArea {
        grid-column: 1 / span 2;
    }
    .postPreviewImage {
        grid-column: 2 / span 4;
        grid-row: 1;
        border-radius: 0;
    }
    .link p {
        grid-column: 1 / span 4;
    }
}