.heroSection {
    display: grid;
}

.bannerImage {
    grid-area: 1/1;
    z-index: 0;
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.bannerImage img {
    object-fit: cover;
}

.bannerTextContainer {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 16rem 1rem 4rem;
    z-index: 1;
    margin-top: 3rem;
}

.bannerTextContainer h1 {
    font-size: 6rem;
    z-index: 1;
    color: var(--light-grey);
    text-shadow: 2px 2px var(--clayton-orange);
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0 1.0875rem;
    -webkit-text-stroke: 1px var(--black);
}

.contentWrapper {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 3rem auto 0;
    padding: 2rem;
    border-radius: 2px;
    color: var(--black);
    background: var(--light-grey);
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    transform: skewX(-10deg);
}

.contentWrapper>* {
    transform: skewX(10deg);
}

@media (max-width: 775px) {
    .bannerTextContainer {
        padding-top: 1rem;
    }
    .bannerTextContainer h1 {
        font-size: 3.75rem;
    }
    .contentWrapper {
        font-size: 1rem;
        transform: none;
    }
    .contentWrapper>* {
        transform: none;
    }
}

@media (min-width: 1200px) {
    .latestUpdates {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .heroSection {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .bannerTextContainer {
        min-height: calc(100vh - 85px);
    }
    .bannerTextContainer h1 {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .latestUpdates {
        overflow-x: auto;
    }
}